{% extends "layout.html" %}
{% block content %}
<center>
        <h1>Contact Info</h1>
        <br>
        <h2>Hospitality</h2>
            <div class = "row">
        <div class="col-sm">
          <h5>Jane Doe</h5>
            <h5>jane.doe@vt.edu</h5>
            <h5>5405550145</h5>
        </div>
        <div class="col-sm">
          <h5>Jane Doe</h5>
            <h5>jane.doe@vt.edu</h5>
            <h5>5405550145</h5>
        </div>
        <div class="col-sm">
          <h5>Jane Doe</h5>
            <h5>jane.doe@vt.edu</h5>
            <h5>5405550145</h5>
        </div>
          </div>
            <br>
        <h2>Events</h2>
        <div class = "row">
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
        </div>
        <br>
        <h2>Sports</h2>
        <div class = "row">
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
        </div>
<br>
        <h2>Fundraising</h2>
        <div class = "row">
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
            <div class = "col-sm">
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
        </div>
<br>
        <h2>D7</h2>
        <div class = "row">
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
        </div>
        <br>
        <h2>Promo</h2>
        <div class = "row">
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
        </div>
        <br>
        <h2>Service</h2>
        <div class = "row">
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
        </div>
        <br>
        <h2>Events</h2>
        <div class = "row">
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
        </div>
        <br>
        <h2>Web</h2>
        <div class = "row">
            <div class = "col-sm">
                <h5>Jane Doe</h5>
                <h5>jane.doe@vt.edu</h5>
                <h5>5405550145</h5>
            </div>
        </div>
    </center>

{% endblock content %}